
.navbar-default {
    background-image: none!important;
    box-shadow: none!important;
    background-color: #F1F0EC;
    border-color: none;
}
.navbar-brand {
    padding: 0px!important;
}
body {
    background: #ffffff;
}
.nav.navbar-nav.navbar-right {
    float: right;
}
.top {
    padding-top: 4em;
    padding-left: 2em;
}
.row.main {
    padding: 0 20px 0 40px;
}
h1,h2,h3,h4,h5 {
    font-family: 'Fjalla One', sans-serif;
}
p {
    font-family: 'Halant', serif;
    font-size: 1.25em;
}

footer {
    height: 17em;
    background-color: #373736;
    color: #999999;
}
footer .col-md-6 {
    padding: .5em 9em;
}
footer .row {
    margin: 0;
}

footer p {
    font-family: 'Fajalla One', sans-serif;
    font-size: .85em;
}